input[type="range"] {
    background: transparent;
}

input[type="range"]::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 1em;
    background: #0075ff;
    border: none;
}

input[type="range"]:disabled::-moz-range-thumb {
    background: #cbcbcb;
}

input[type="range"]::-moz-range-track {
    height: 0.38rem;
    border: #b2b2b2 solid 0.07rem;
    background: #efefef;
    border-radius: 1rem;
}

input[type="range"]::-moz-range-progress {
    height: 0.38rem;
    border: #3b75ba solid 0.07rem;
    background: #0075ff;
    border-radius: 1rem;
}
