@font-face {
    font-family: "Iosevka";
    src: url("iosevka-regular.ttf") format("truetype");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Iosevka", monospace;
    font-size: 80%;
}
#sliders {
    width: 64rem;
    height: 64rem;
    transform: translate(-16rem, -16rem) scale(0.5) rotate(-90deg);
    position: relative;
}
#slider-container {
    width: 32rem;
    height: 32rem;
    position: relative;
}
input[type="range"] {
    width: 64rem;
    margin: 0;
    position: absolute;
    top: 10rem;
}
#formula:focus {
    outline: none;
}
textarea {
    font-family: "Iosevka", monospace;
    font-size: 100%;
    border: none;
    width: 32rem;
    height: 1.2rem;
    min-height: 1.2rem;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    margin-bottom: 0;
}
#code {
    width: 32rem;
    margin-bottom: 1rem;
    position: relative;
}
.error {
    background: #ffdede;
}
#examples {
    position: absolute;
    top: 1rem;
    width: 32rem;
    display: flex;
    flex-direction: column;
    z-index: 1;
    display: none;
    background: #ddd;
    border-radius: 0.3rem;
    padding: 0.3rem 0;
    box-sizing: border-box;
}
#examples a {
    white-space: pre-wrap;
    color: black;
    text-decoration: none;
    margin: 0rem 0;
    padding: 0.4rem 0.2rem;
}
#examples a:hover {
    background: #ccc;
}
#huh {
    color: blue;
    font-style: italic;
    cursor: pointer;
}
#firstline {
    display: flex;
    justify-content: space-between;
}
#intro {
    margin: 0.4rem;
}
#examples-left,
#examples-right {
    cursor: pointer;
    position: absolute;
    top: 14.5rem;
    font-size: 1.2rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    transition: all 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#examples-left {
    left: -3rem;
}
#examples-left:hover {
    left: -3.5rem;
}
#examples-right {
    right: -3.5rem;
    background: #0075ff;
    color: white;
    border-radius: 0.3rem;
}
#examples-right:hover {
    right: -4rem;
    background: #0065ef;
}

#credits {
    margin-top: 1rem;
}
.bubble {
    position: absolute;
    top: -2rem;
    left: 0.5rem;
    background: #0075ff;
    color: #ffffff;
    font-family: Arial;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    width: 6rem;
    height: 2rem;
    border-radius: 0.3rem;
    padding: 0px;
}
.bubble:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #0075ff transparent;
    border-width: 10px 9px 0;
    bottom: -10px;
    left: 17%;
    margin-left: -9px;
}
a {
    color: black;
}
